<div class="menu-item">
    <div class="menu-item-title">
        <img src="<%= product.imageUrl %>" alt="<%= product.name %>">
        <h3><%= product.name %></h3>
        <!-- <p><%= product.description %></p> -->
    </div>       
    <div class="menu-item-price">
        <p><%= product.price %> KM</p>
    </div>
</div>