<article class="order-item">
    <div class="order-summary">
        <h2><span class="order-item-price"><%= order.productData.totalPrice.toFixed(2) %> KM</span> - <%= order.formattedDate %></h2>
        <p><span class="order-badge"><%= order.status.toUpperCase() %></span></p>
    </div>

    <div class="order-details">
        <% if(locals.isAdmin) { %> 
            <address>
                <p><a href="mailto:<%= order.userData.email %>"><%= order.userData.name %><%= order.userData.surname %></a></p>
                <p><%= order.userData.street %> (<%= order.userData.postal %> <%= order.userData.city %>)</p>
            </address>
            <% } %> 

            <ul>
                <% for (const item of order.productData.items) { %>
                    <li><%= item.product.name %> - <%= item.totalPrice.toFixed(2) %> KM (<%= item.product.price.toFixed(2) %> x <%= item.quantity %>)</li>
                <% } %>
            </ul>
    </div>

    <% if (locals.isAdmin) { %>
        <div class="order-actions">
            <form>
                <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">
                <input type="hidden" name="orderid" value="<%= order.id %>">
                <select name="status">
                    <option value="na čekanju" <% if (order.status === 'na čekanju') { %>selected<% } %>>Na čekanju</option>
                    <option value="prihvaćena" <% if (order.status === 'prihvaćena') { %>selected<% } %>>Prihvaćena</option>
                    <option value="odbijena" <% if (order.status === 'odbijena') { %>selected<% } %>>Odbijena</option>
                </select>
                <button class="btn-default">Ažuriraj</button>
            </form>
        </div>
    <% } %>
</article>