<%- include('../../base/includes/head', {pageTitle: product.name}) %>
<script src="/scripts/cart-management.js" defer></script>
</head>
<body>
    <%- include('../../base/includes/header') %> 
    <div class="container sec-padding">
        <a href="/products" class="btn-default">Nazad</a>
        <div class="product-details">
            <img src="<%= product.imageUrl %>" alt="">
            <div class="product-info">
                <h1><%= product.name %></h1>
                <p><%= product.description %></p>
                <p class="product-price"><%= product.price %> KM</p>
                
                <button class="btn btn-default" id="add-to-cart" data-productid="<%= product.id %>" data-csrf="<%= locals.csrfToken %>">Dodaj u korpu</button>
            </div>
        </div>
    </div>
