<%- include('../../base/includes/head', {pageTitle: 'Prijavi se'}) %>
</head>
<body>
    <%- include('../../base/includes/header') %> 
    <div class="login-container sec-padding">
        <h1>Prijavite se</h1>
        <% if(inputData.errorMessage) { %>
            <section class="alert">
                <h2>Greška</h2>
                <p><%= inputData.errorMessage %> </p>
            </section>
        <% } %> 
        <form action="/login" method="post">
            <input type="hidden" name="_csrf" value="<%= locals.csrfToken %>">  
            <div class="input-field">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= inputData.email %>" required>
            </div>
            <div class="input-field">
                <label for="password">Lozinka</label>
                <input type="password" name="password" id="password" value="<%= inputData.password %>" required minlength="6">
            </div>
            <input type="submit" value="Prijavi se" class="btn btn-default">
            <div class="sign-up">
               Nemate nalog? <a href="/signup">Registruj se</a>
            </div>
        </form>
    </div>
